*{

}


body{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;

}
#c1{
	

}
a.navbar-brand{
	font-size: 38px;
	font-weight: 700;
	font
}
#hd-nav{
	margin-left: 40px;


}
#hd-nav a{

	color: #fff;
	font-weight: bold;

	
	margin-left: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 550;
	
}
#hd-nav a:hover{
	border-bottom: 4px solid #b7b7b7;
	transition-duration: 0.2s;	
	
	color: #fac42b;

}
.timing{
	width: 100%;
	height: 100px;
	background-color: #262626;
}
.timing2{
	width: 100%;
	height: 100px;
	background-color: #fac42b;
}
#c1{
	height: 910px;

}
#cbg{

	background: url(img/slide1.jpg);
	background-size: 100% 100%;
	background-color: #ccc;
}
#wo{
	margin: 0px;
	padding: 0px;
	padding-right: 0px;
	margin-right: 0px;
	}
#content__time1,#content__time2{
	padding: 0px;

}
.timing h3{
	font-family: 'Montserrat', sans-serif;
	font-weight:  bold;
	font-size: 44px;
	color: #fff;
	text-align: right;
	padding-top:20px;
	padding-right:15px;
	margin: 0px;
}
.timing h6{
	font-weight: normal;
	color: #b0b0b0;
	text-align: right;
	padding-right:15px;


}
.clock{
	padding-top: 20px;

	background-color: #fac42b;
	/*width:145%; 
	height:100%;*/
}
#content__time1{
	background-color: #fac42b;
	
}
#content__time2{
	background-color: #fac42b;

}
#fbg{
	background-color: #fac42b;
}
.text__eventr15 h3{
	margin-top: 100px;
	text-align: center;
	font-size: 43px;
	font-weight: 400;

}
.text__eventr15 p{
	text-align: center;
	font-size: 22px;
	margin: 0px 20% 0px 20%;
	color: rgba(0,0,0,0.45);
	font-family: 'Open Sans thin', sans-serif;
	font-weight: 590;
}
.text__support{
	margin-top: 60px;
}
#support{
	text-align: center;
}
.fa{
	font-size: 50px;
	color: #fac42b;
}
#support i{
	margin-top: 10px;
}
#support p{
	color: rgba(0,0,0,0.6);
	margin-top: 10px;
	margin:0px 10% 0px 10%;
}
#support h5{
	margin-top: 30px;
}
.slide3{

	
	
	margin-top: 100px;
	width: 100%;
	height: 950px;
	background-color: #f5f5f5;
}
.slide3 h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	padding-top: 100px;
}
.slide3 p{
	font-size: 23px;
	color: rgba(0,0,0,0.45);
}
#fdcard{
	

}
.card-title{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
#card__speaker h5{
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 900;
	margin-top: 10px;
	
	
}
p.linec{

	position: absolute;
	width: 40px;
	height: 3px;
	background-color: #fac42b;
	margin-left: 100px;
	
}
#fdcard .card-text{
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;

}
.card__name{
	width: 250px;
	height: 19%;
	background-color: #fff;


}
.card__name p{
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 10px;
	
}

.card__name h6{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	opacity: 0.7;
	letter-spacing: 2px;
	font-size: 10px;
	margin-top: 20px;
}
.slide4{
	width: 100%;
	height: 1300px;
	background-color: #fac42b;
}
#collapse2__a1:hover{
	color: white;
}
#collapse2__a2:hover{
	color: white;
}
#collapse2__a3:hover{
	color: white;
}
#collapse2__a4:hover{
	color: white;
}
#collapse2__a1,#collapse2__a2,#collapse2__a3,#collapse2__a4{

	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
}
#collapse2__p1{
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-weight: bold;
}
#collapse2__day{
	color: black;
	font-size: 20px;
	font-weight: 600;
	padding-right: 40px;
	text-decoration: none;

}
#collapse2__day:hover{

	font-size: 20px;
	font-weight: 600;
	padding-right: 40px;
	


}
.tab-content{

}
.start__collapse{

}
.slide4__collapse{
	font-size: 21px;
	font-weight: 400;
	color: white;

}
.slide4__collapse:hover{
	color:black;
}
#collapse__day2{
	margin-left: 100px;
	text-decoration: none;
}
#collapse__day2:hover{

	border-bottom: 2px solid white;
}
.start__collapse hr{
	background: white;
	height: 1.02px;
}

#collapse__day1{
	
	text-decoration: none;
}
#collapseExample{

	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-weight: 700;
	letter-spacing: 2px;
}
#collapseExample a{
	text-decoration: none;
	margin-left: 40px;
	color: black;
}
#collapseExample a:hover{
	color: white;
}
#collapseExample #collapse2__a2 {
	margin-left: 42px;
}
#collapseExample #collapse2__a3 {
	margin-left: 45px;
}
#collapseExample #collapse2__a4 {
	margin-left: 45px;
}
#collapseExample hr{
	height: 0.9px;
	margin-top: 7px;
	margin-bottom: -5px;
}
.collapse__circle{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid white;
	background-image: url(img/speaker1.png);
	background-position: center;
	margin-top: 10px;
}
.collapse2__name{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
	font-size: 12px;
	color: white;
	

}
.collapse2__subheader{
	color: #666653;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.5px;
}
.collapse2__text{
	font-size: 15px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.5px;
	font-weight: 400;
}
.collapse2__icon {
	margin-top: 0px;
}
.collapse2__icon i{
	color: white;
	font-size: 18px;
	margin-top: 0px;
}
.collapse2__icontext{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.collapse2__icontext1{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
	
}
.collapse2__textright{
	font-size: 13px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.5px;
	font-weight: 400;
}
#globe{
	color: black;
	font-size: 18px;
}
.cube{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	
}
.slide4__header{
	padding-top: 50px;
	font-size: 36px;
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
	color: black;

}
.slide4__subheader{

}
.slide5{
	width: 100%;
	height: 400px;
	background-color: white;

}
#carteimg{
	margin-top: 60px;
	width: 230px;
	height: 230px;
}
.slide5__header{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 900;
	padding-right: 150px;
	letter-spacing: 0px;
	margin-top: 80px;
	margin-bottom: 10px;
}
.slide5__line{
	width: 120px;
	height: 3px;
	background-color: #fac42b;
}
.slide5__text{
	padding-right: 40px;
	color: #666666;
	letter-spacing: 0px;
	margin-top: 10px;
}
.slide__5lg{
	padding: 0;

}
.slide5__text button{
	width: 200px;
	height: 40px;
	border: 2px solid black;
	background-color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 600;
}
.slide5__text button:hover{
	background-color: black;
	color: white;
	transition: .2s;
	cursor: pointer;
}
@media (max-width: 991px) {
	.slide5{
	width: 100%;
	height: 700px;
	background-color: white;

}


	#carteimg{
	margin-top: 0px;
	width: 400px;
	height: 400px;
	margin-left: 13%;
}	


}
.slide6{
	width: 100%;
	height: 500px;
	background-image: url(img/bg-venue.png);
	background-repeat: no-repeat;
	background-size: 100% 600px;
	
}
.slide6__bgopacity{
	width: 100%;
	height: 500px;
	background-color: rgba(0,05,0,0.7);
}
.slide6__header{
	letter-spacing: 0px;
	font-size: 45px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: 900;
	margin-top: 15%;
	margin-bottom: 5px;
}
.slide6__line{
	width: 70px;
	height: 3px;
	background-color: #fac42b;
}
.slide6__text{
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	color: #ccc;
	padding-right: 20px;
	letter-spacing: 1px;
	font-weight: thin;
	margin-top: 10px;
}
.slide6__subtext{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 0.5px;
}
#slide6__imghotel{
	width: 25%;

}
#slide6__right{
	margin-top: 8%;

}
.slide6__headerright{
	font-size: 20px;
	color: white;
	font-weight: 600;
	margin-top: 7px;
	letter-spacing: 1px;
}
.slide6__textright{
	font-size: 16px;
	color: #ccc;
	padding-right: 80px;
}
.slide6__button{
	width: 180px;
	height: 40px;
	border: solid 2px white;
	background-color: rgba(0,0,0,0);
	color: white;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
}
.slide6__button:hover{
		background-color: white;
		color: black;
		transition: 0.2s;
		cursor: pointer;

}
@media (max-width: 991px) {
	.slide6{
	width: 100%;
	height: 700px;
	background-image: url(img/bg-venue.png);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	
}
	.slide6__bgopacity{
	width: 100%;
	height: 700px;
	background-color: rgba(0,05,0,0.7);
}
}
.slide7{
	width: 100%;
	height: 500px;
}
.slide7__header{
	font-size: 30px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-top: 100px;
	margin-bottom: 0px;
	
}
.silde7__line{
	margin-top: 5px;
	width: 75px;
	height: 3px;
	background-color: #fac42b;
}
.slide7__subheader{
	margin-top: 10px;

}
.slide7__img{
	margin-top: 100px;
	height: 160px;
	background: url(img/hotel-img1.png);
}
.slide7__imgheader{
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
	margin-bottom: 5px;
}
.slide7__imgsubheader{
	font-size: 14px;
	color: rgba(0,0,0,0.5);
	word-spacing: 1px;
}
#icon__stars{
	font-size: 15px;
	letter-spacing: 1px;
	word-spacing: 0px;
	margin-right: 0px;
	padding: 0px;
}
#iconspan{
	
}
.slide7 button{

}
.slide7 button{
	width: 80px;
	height: 30px;
	border: solid 2px black;
	background-color: white;
	color: black;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
}
.slide7 button:hover{
		background: black;
		color: white;
		transition: 0.2s;
		cursor: pointer;

}
.slide8 i{
	color: white;
	position: absolute;
	font-size: 60px;
	margin-top: 20px;
	margin-top: 40%;
}
#parallax1{
	width: 100%;
	height: 300px;
	background-color: rgba(0,0,0,0.5);
}
.slide8__vertline{
	width: 1px;
	height: 100px;
	background-color: white;
	margin: 0px;
	margin-top: 90px;
	margin-left: 80px;
	position: absolute;
}
.slide8__number{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 40px;
	margin-left: 90px;
	margin-bottom: 0px;
	margin-top: 90px;
}
.slide8__subnumber{
	margin-left: 90px;
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
#islide8{
	margin-right: 30px;
}
.slide9{
	width: 100%;
	height: 600px;
	background-color: #f5f5f5;
}
.slide9__header{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	padding-top: 80px;
}
.slide9__subheader{
		font-size: 22px;
		color:rgba(0,0,0,0.5);
		text-align: center;
			
}
.slide9__img{
	margin-top: 	40px;
	width: 100%;
	height: 100%;
}
.slide9 button{
	width: 150px;
	height: 40px;
	border: solid 2px black;
	background-color: white;
	color: black;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-left: 42%;
	margin-top: 30px;	
}
.slide9 button:hover{
		background: black;
		color: white;
		transition: 0.2s;
		cursor: pointer;

}
.slide10{
	width: 100%;
	height: 1100px;
	
}
.slide10 img{
	width: 105%;
	margin-bottom: 20px;	
}
.slide10__header{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 40px;
	
	padding-top: 80px;
}
.slide10__subheader{
	font-size: 22px;
	color:rgba(0,0,0,0.5);
	margin-bottom: 20px;
	
}
.slide11{
	width: 100%;
	height: 400px;

}
#parallax2{
	margin-top: 50px;
	width: 100%;
	height: 400px;

}
.slide11__carousel{
	width: 50%;
	margin-left: 50%;
}
#cimage{
	background-color: rgba(0,0,0,0.4);
	border-radius: 30px;
	width: 100px;
	height: 100px;
}
#slide11__img1{
	height: 400px;
	
}
#slide11__testare{
	
	background-color: black;
	opacity: 0.7;

}
.slide12{
	width: 100%;
	height: 500px;
}

.slide12__img1{

	width: 225px;
	height: 125px;
	background-size: 200px 100px;
	background-image: url(img/thumb4.png);
	background-position: center;
	background-repeat: no-repeat;
	border:2px  solid #fac42b;
	
}

.slide10__subheader{
	margin-right: 40px;
}
#slide12__container{

	margin-left: 20%;
}
#map{
	width: 100%;
	height: 220px;
	background: white;
}
.slide14{
	width: 100%;
	height: 300px;
	background-color: #262626;
}
.slide14 h4{
	font-size: 19px;
	font-weight: 500;
	letter-spacing: 1.5px;
	color: #fff;

}
.slide14__line{
	margin-top: 5px;
	width: 50px;
	height: 3px;
	background-color: #fac42b;
}
.slide14 p{
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	margin-top: 10px;
}
.slide14 h6{
	
	margin-top: 10px;
	font-size: 14px;
	font-weight: 600;
	color: white;
	text-decoration: none;
}
.slide14 a{
	text-decoration: none;
}
.slide14 input{
	margin-top: 20px;
	width: 350px;
	height: 50px;
	border-radius: 0px;
}
.slide14 button{
	width: 150px;
	height: 40px;
	border: 2px solid #fff;
	background-color: #262626;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	font-size: 14px;
	font-weight: 600;

	margin-top: 10px;
	

}
.slide14 form{
	width: 200px;
}
.slide14 button:hover{
	background-color: white;
	color: black;
	transition: .2s;
	cursor: pointer;
}
#slide14__content{
	padding-top: 40px;
}
footer{
	padding-top: 20px;
	width: 100%;
	height: 60px;
	text-align: right;
	background-color: #000;
	font-weight: 500;
	font-size: 10px;
	color: black;
	text-decoration: none;

}
footer .container a{
	text-decoration: none;
	margin-left: 10px;
	letter-spacing: 1px;
	color: white;
}
#tb2,#tb3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
.slide12__container{
	width: 700px;
	height: 265px;
	padding: 0px;
}
@media (max-width: 991px) {
	.slide14{
		height: 450px;
	}
	.slide2{
		overflow: hidden;
	}
	.slide7{
		height: 700px;
	}
	.slide7__header,.slide7__subheader{
		text-align: center;
	}
	.silde7__line{
		margin-left: 44.2%;
	}
	.slide10{
		height: 800px;
	}

}