body{
	margin:0;
	padding: 0;
	font-family: Arial,sans-serif;

}
.dws{
	
	z-index: 1;

	margin-top: 10px;
	top:20%;
	left: 20%;


}
.blocImg{
	width: 250px;
	height: 250px;
	overflow: hidden;
	cursor: pointer;
	
}
.blocImg img{

	width: 100%;
	transition: .5s;

}
.blocImg:hover img{
	transform: rotate(-5deg) scale(1.3);

	opacity: 1;
}
.blocText{
	
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;


}



.blocText::before,
.blocText::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 200px;
	transition: .5s;
	
}
.blocText::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform:  scale(0,1);

}
.blocText::after {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	transform:  scale(1,0);

}
.dws:hover .blocText::before,
.dws:hover .blocText::after {
	transition: .5s;
	transform: scale(1,1);
}
.dws:hover .text {
	opacity: 1;
	transition: .1s;

}









































